/**
	重置样式
	reset.css
	Created by Andy on 2018-03-21
 */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;   /* Firefox 1, probably can drop this */
	-webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
	box-sizing: border-box;   /* Everything else */
}

html {
	-webkit-text-size-adjust: none; -ms-text-size-adjust: none;
}
body{
	background-color:#f8f8f8;font:16px/1.5 "PingFang SC","Helvetica Neue",Helvetica,Arial,sans-serif; margin: 0 auto; padding:0; min-width: 320px; max-width: 750px; height: 100%; width: 100%;
}
body.overflow{overflow:hidden;}

p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, img, label, input, button, textarea, select, form {
	margin: 0; padding:0;
}
h1, h2, h3, h4, h5, h6, em, i, th, caption {font-style: normal;font-weight: normal;}
img {
	border: 0;
}
a {color: inherit; text-decoration: none;}
a img {
	vertical-align: top;
}
ul, ol, li {
	list-style: none;
}
input, textarea{border-radius: 0;outline: none;}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	padding: 0;
}

.box{width:100%;max-width:640px; background-color: #F5F5F7; margin: 0 auto; letter-spacing: 2px;}
.header{width:100%;background-color:#61ABF3;padding: 2%; overflow: hidden;}
.hd_user{display: flex;flex-direction:row;margin-top: 20px;}
.user_img{width: 50px;height:50px;border:1px solid #fff;border-radius: 30px;z-index: 99; overflow: hidden;}
.user_img img{width: 100%; vertical-align: middle;}
.user_title{margin: 1%;  color:#fff;}
.shezhi{float: right;margin-top: -50px;}
.saoma{width: 100%;text-align: center;padding: 8% 0; color:#fff;font-size: 1.2em;}
.saoma img{width: 30%;}
.hd_jifen a{width: 50%; border-right: 1px solid #fff;font-size: 1.5em; color:#fff; float: left;text-align: center;}
.nav_center{margin-top: 10px;background-color: #fff;overflow: hidden;}
.nav_center dl{width: 33.3%; padding:5%;text-align: center;border:1px solid #F3F3F3;float: left;}
.nav_center dl img{width: 40%;}
/*
 设置
 * */
.header .top_her{text-align: center; color:#fff; font-size: 2em;}
.top_her img{vertical-align: middle; float: left; margin-top: 10px;}
.uesr_center{font-size: 1.5em;}
.uesr_center li{background-color: #fff; overflow: hidden;padding: 3%;}
.hd_users .user_img{float: left; width: 80px; height: 80px;}
.uesr_center .user_title{float: left;color: #000; line-height: 40px; margin-left: 20px;}
.user_update{float:right;color: #A3A3A3;line-height: 80px; }
.Set{line-height: 50px;  color: #000000; border-bottom: 1px solid #F5F5F6;}
.Set img{ vertical-align: middle;margin:0 10px;}
.Set_img{vertical-align: middle;float: left; width: 50px;}
.Set_update{float:right;color: #A3A3A3;}
.btn_t{padding: 15px 35%;  background-color: #61ABF3; color:#FFFFFF; border-radius: 5px; }
@media only screen and (max-width: 450px) {
	.uesr_center{font-size: 1em;}
	.uesr_center .user_title img{width: 15px;}
}
/* 我的*/
.headers{background-color: #3790B5;padding: 2%; overflow: hidden;}
.headers dl{width:50%; color: #fff; font-size: 1.5em; float: left; text-align: center;margin: 30px 0;}
.headers dl img{width: 30%;}
/*
 收款信息
 * */
.header_b{background-color: #fff; padding:4% 2%;}
.header_b .top_her{color: #000; text-align: center; font-size: 1.3em;}
.header_b .top_her img{margin-top:0;}
.Set label{margin-left: 5%;width: 35%;float: left;}
.Set input{float: left;border: none; width: 50%; height: 50px;}
.Set input::-webkit-input-placeholder{font-size:1.5em;}
.Set select{border: none;font-size: 1em; float: right;width: 40%; height: 40px; margin-right: 10%;}
.Set option{width:200px ;}
.Set dl{width:50%;margin: 0 auto; text-align:center;padding: 40px 10px;border: 1px solid #858585;border-radius: 10px;}
.Set dl img{width: 30%;}
/*奔跑数据*/
.benpao{border-bottom: 1px solid #F5F5F6;}
.benpao dl{width: 50%;text-align: center;float: left;border-right: 1px solid #F5F5F6; line-height: 60px;}
.benpao dd a{padding: 10px 20px; color: #fff;background-color: #3790B5;border-radius: 5px;}
/*余额*/
.header p{text-align: center;margin: 30px 0;  color: #fff; font-size: 2em;}
.yue_center{background-color: #fff; padding-top: 20px; overflow: hidden;}
.swiper-wrapper{ border-bottom: 2px solid #F7F7F7;border-top: 2px solid #F7F7F7; }
.swiper-slide{padding:10px 20px;float: left;}
.swiper-slide:hover{color:#256596;background-color: #F8F8F8; border-bottom:1px solid #3790B5;}
.yu_btn{width:33.3%; text-align: center; color: #fff; background-color: #1291C8;margin-bottom: 100px; line-height: 80px; float: left;}
.yu_btn:hover,.mad{background-color: #1B6FAF;}
/*买入*/
.mai_center{background-color: #fff;}
.mai_center .aa{padding: 2%; overflow: hidden;}
.mai_center .aa a{width: 29%; border-radius: 10px; background-color: #F1F1F1; color:#848484; float: left;height: 40px; line-height: 40px;text-align: center;margin: 2%;}
.mai_center .aa a:hover{color: #1291C8;}
.mai_center .Set a{width: 25%;float: left; border: 2px solid #1B6FAF;border-radius: 5px;text-align: center; margin:2% 4%;}
/*登录*/
.login{ padding: 10% 0; margin-left: 2%;}
.logins label{margin-left: 2%;width: 20%;float: left;}
.logins input{float: left;background-color: #F8F8F8;border: none; width: 60%; height: 50px;font-size:1em;}
.logins input::-webkit-input-placeholder{}
.logins li{background-color: #F8F8F8;border-bottom: 1px solid #E9E9E9;font-size:1.2em; line-height: 50px;}
.btns{text-align: center;margin: 15% 0;}
.wc__lgregFoot{text-align: center; }
.wc__lgregFoot ul{display: inline-block; vertical-align: top;}
.wc__lgregFoot ul li{border-left: 1px solid #e9e9e9; float: left; padding: 0 .2rem;}
.wc__lgregFoot ul li:first-child{border-left: 0;}
.wc__lgregFoot ul li a{color: #0060a0; font-size: 1.2em;}
.lianjie{color: #0060A0;}
/*余额交易*/
.yue_center .sea_d{padding: 2%;font-size: 1.5em;} 
.yue_center .sea_inp{padding-left:2em; width:80%; font-size: 1em;border: none; height: 50px;  position: absolute; background-color: #F8F8F8; border-radius: 5px;}
.yue_center .sea_i{width: 1.5em; position: relative; left: 5px; top: 5px; }
.yue_center .jine{background-color: #F8F8F8;padding:5% 2%;}
.yue_center .btn{padding:10px 5px; background-color: #F1F1F1; }
.yue_center .jiaoyi{text-align: center;border-bottom: 1px solid #CFCECF;padding: 10px; overflow: hidden; float: left;width: 100%;}
.yue_center .jiaoyi span{float: left;text-align: left;}
.yue_center .jiaoyi a{float: right; color:#f00}
/*我的余额交易*/
.yue_center1 .checked li {float: left;width: 33.3%; text-align: center; height: 50px; line-height: 50px; background-color: #F8F8F8;}			
.yue_center1 #contents ul {clear: both; padding: 5px;}
.yue_center1 #contents .hide {display: none}
.yue_center1 .checked li.current a{display: block; color:#007AFF; border-bottom: 1px solid #0000FF;}
.yue_center1 #contents li{width: 100%; text-align: center;}
/*余额兑换*/
.yue_center .checked li {float: left;width: 50%; text-align: center; height: 50px; line-height: 50px; background-color: #CCCCCC;}			
.yue_center #contents ul {clear: both;}
.yue_center #contents .hide {display: none}
.yue_center .checked li.current a{display: block; background-color:#00F; color:#FFF;}
.yue_center .jine{width:100%; font-size:1.2em;border: none; border-bottom: 1px solid #F8F8F8; background-color: #fff;}
.yue_center .btn:hover{color: #fff; background-color: #007AFF;}

/*我的订单*/
.j_head {text-align: center;}
.j_head span{float: left; width: 18%; padding: 10px 0; text-align: center;}
.j_head .time{width: 26%;margin: 0 1px;}
.jiaoyi .red{color: #f00;}
.j_heads span{float: left; padding: 10px 1%; }
.j_heads1 span{padding: 10px 3%;}








/*底部*/
.footer{width: 100%; max-width: 640px; padding: 10px 0; color: #858585; background-color: #fff; overflow: hidden; border-top: 1px solid #CFCECF; position: fixed; bottom: 0;}
.footer dl{width: 25%; text-align: center; float: left;}
.footer1{position: fixed; bottom: 0;width: 100%; max-width: 640px; margin-bottom: -100px;}
