/* basic */
body {font-family:Microsoft YaHei, '\9ed1\4f53';color: #333;font-size: .24rem;}
h1, h2, h3, h4, h5, h6 {text-transform: none;font-weight: normal;}
.main {width:100%;max-width: 720px;margin: 0 auto !important;}
.block {width: 100%;overflow: hidden;position: relative;}
.contant {width: 100%;overflow: hidden;padding: .2rem;}
.category {height: .8rem; padding: 0 .2rem;line-height: .8rem;color: #09f;border-bottom: 1px #09f solid;}
.category span {float: right;background: #17c481;color: white;height: .4rem;line-height: .4rem;padding: 0 .2rem;margin: .2rem 0;border-radius: .05rem;font-size: .22rem;}

/* btn */
.btn {width: 95%;height: .8rem;line-height: .8rem;display: block;text-align: center; margin: .3rem auto;background: linear-gradient(to right, #FA7624, #F6B132); color: white;border-radius: .5rem;font-size: .3rem;}
.btn-empty {background: none;color: #09f;box-shadow: 0 0 0;border: 2px #09f solid;line-height: .76rem;}

/* title */
.title {height: 1.2rem; background-size: cover; padding: .2rem;}
.title h1 {line-height: .8rem;width: 55%; text-align: center;color: #000000;font-size: .4rem;display: block;float:left;}
.title a {width: 1.5rem;line-height: .8rem;height: 1.4rem;display: block;background-size: 30% 30%;font-size: .3rem;}
.title a.ta-black {background-image: url(../images/fanhui_03.jpg);}
.title a img{width: .4rem;}
.title-auto {height: auto;}
/*  tip */
.tip {width: 100%;height: 100%;background: rgba(0,0,0,.8);position: fixed;top: 0;left: 0;display: none;}
.tip-center {width: 100%;height: 100%;}
.tip-main {width: 90%;border-radius: .1rem; background: white;}
.tip-main h2{padding-top: .2rem;padding-left: .3rem; font-size: .4rem; text-align: left;}
.tip-main .p1{text-align: left; padding-left: .3rem; }
.tip-main .p2{text-align: right; padding-right: .2rem; margin: .3rem 0;}
.tip-main .p2 a{margin: 0 .2rem; color:#FB883C ;}
/* login */
.logo {width: 1.7rem;margin: 1.5rem auto .5rem;}
.login {}
.login h2{font-size: .5rem; margin:.2rem .4rem;}
.login h2 p{font-size: .2rem;text-align: left; color: #ACACAC; margin-left: .1rem;}
.log{padding: .8rem .4rem;}
.log label{color: #ACACAC;}
.log input{border: none; width: 100%; color: #000; border-bottom: 1px solid #FC6700;font-size: .3rem;padding: .2rem 0;}
.log .btn{width: 100%; margin-top: .8rem;}
.log li {border-bottom: 1px solid #FC6700;}
.log li input{border: none; width: 90%;}
.log li img{width: .3rem;}
.login p{text-align: center;}
.reg {width: 100%; padding: .2rem;position: absolute;left: 0;bottom: 0;}
.reg a {text-align: center;display: block;}
.reg a span {color: orange;}
.orange{color: #FB883C;}
/* bar */

/*trading*/
.trading{border-radius: 10px; background-color: #fff;margin: .3rem 0;}
.trading dt img{width: 100%;}
.trading dd{padding:.2rem;font-size: .3rem; overflow: hidden;}
.trading .xing{font-size:.4rem}
.trading .xing img{width: 40%; margin-left:.5rem; text-align: right;}
.trading dd span{float: left; width: 33.3%; text-align: center;}
.trading dd span img{width: .5rem; margin: 0 .2rem; vertical-align: middle;}
.bghui{background-color: #F9F9F9;}





