/* basic */
body {font-family:Microsoft YaHei, '\9ed1\4f53';color: #333;font-size: .24rem;}
h1, h2, h3, h4, h5, h6 {text-transform: none;font-weight: normal;}
.main {width:100%;max-width: 720px;margin: 0 auto !important;}
.block {width: 100%;overflow: hidden;position: relative;}
.contant {width: 100%;overflow: hidden;padding: .2rem;}
.category {height: .8rem; padding: 0 .2rem;line-height: .8rem;color: #09f;border-bottom: 1px #09f solid;}
.category span {float: right;background: #17c481;color: white;height: .4rem;line-height: .4rem;padding: 0 .2rem;margin: .2rem 0;border-radius: .05rem;font-size: .22rem;}

/* btn */
.btn {width: 95%;height: .8rem;line-height: .8rem;display: block;text-align: center; margin: .3rem auto;background: #09f;color: white;border-radius: .05rem;box-shadow: 0 .1rem .2rem rgba(0,153,255,.3);font-size: .28rem;}
.btn-empty {background: none;color: #09f;box-shadow: 0 0 0;border: 2px #09f solid;line-height: .76rem;}

/* focus */
.focus {background-image: url(../images/bg_2.jpg);background-size: cover;}
.personal {}
.personal a {width: 1.1rem;height: 1.1rem;float: right;background-size: 40% 40%;}
.personal a.pa-set {background-image: url(../images/title/set.svg);}
.personal a.pa-photo {background-image: url(../images/title/photo.svg);}
.personal h3 {text-transform: none;color: white;font-size: .32rem;padding: .1rem 0 0;}
.portrait {width: 1.1rem;height: 1.1rem;border-radius: 100%; background-image: url(../images/portrait.png);background-size: contain;margin: 0 .2rem 0 0;}
.star {}
.star i {width: .3rem;height: .3rem;display: block;float: left;background-image: url(../images/ico/star.svg);background-size: contain;margin: .02rem;}
.star i.herf {background-image: url(../images/ico/star-helf.svg);}

.scan-center {width: 100%;height: 100%;border-radius: 100%;background: rgba(255,255,255,.2);padding: .5rem;}
.scan {width: 5rem;margin:.7rem auto 0;}
.scan a {background: #fff;text-align: center;font-size: .36rem;color: #09f;box-shadow: 0 .2rem .4rem #0080d6;display:block;}
.scan i {width: 1rem;height: 1rem;display: block;margin:.2rem auto; background-image: url(../images/ico/scan.svg);background-size: contain;}

.bet {padding: 0;}
.bet2 {padding-bottom: .9rem ;}
.bet2 li,.bet li {width: 50%;float: left;border-right: 1px white solid;text-align: center;color: white;}
.bet li:last-child,.bet2 li:last-child {border: none;}
.bet span,.bet2 span {display: block;color: white;font-size: .32rem;}

/* nav */
.nav {}
.nav a {width: 33.33%;float: left;display: block;padding: .2rem 0;}
.nav i {width: .66rem;height: .66rem;display: block;background-size: contain;margin: .2rem auto;}
.nav i.ni-1 {background-image: url(../images/nav/1.svg);}
.nav i.ni-2 {background-image: url(../images/nav/2.svg);}
.nav i.ni-3 {background-image: url(../images/nav/3.svg);}
.nav i.ni-4 {background-image: url(../images/nav/4.svg);}
.nav i.ni-5 {background-image: url(../images/nav/5.svg);}
.nav i.ni-6 {background-image: url(../images/nav/6.svg);}
.nav i.ni-7 {background-image: url(../images/nav/7.svg);}
.nav i.ni-8 {background-image: url(../images/nav/8.svg);}
.nav i.ni-9 {background-image: url(../images/nav/9.svg);}
.nav i.ni-10 {background-image: url(../images/nav/10.svg);}
.nav i.ni-11 {background-image: url(../images/nav/11.svg);}
.nav i.ni-12 {background-image: url(../images/nav/12.svg);}
.nav span {text-align: center;display: block;font-size: .28rem;}

/* bar */
.bar {height: 1rem;position: fixed;bottom: 0;left: 0;box-shadow: 0 0 .1rem rgba(75,106,127,.5);padding: 0 .2rem;background: white;}
.bar a {width: 25%;height: 1rem;padding: .1rem 0; display: block;float: left;text-align: center;font-size: .22rem;color: #a8bdca;}
.bar i {width: 1rem;height: .5rem;margin: auto;display: block;background-size: 60% 60%;}
.bar i.bai-1 {background-image: url(../images/bar/1.svg);}
.bar i.bai-2 {background-image: url(../images/bar/2.svg);}
.bar i.bai-3 {background-image: url(../images/bar/3.svg);}
.bar i.bai-4 {background-image: url(../images/bar/4.svg);}
.bar a.active {color: #09f}
.bar a.active i.bai-1 {background-image: url(../images/bar/1r.svg);}
.bar a.active i.bai-2 {background-image: url(../images/bar/2r.svg);}
.bar a.active i.bai-3 {background-image: url(../images/bar/3r.svg);}
.bar a.active i.bai-4 {background-image: url(../images/bar/4r.svg);}

/*  tip */
.tip {width: 100%;height: 100%;background: rgba(0,0,0,.8);position: fixed;top: 0;left: 0;display: none;}
.tip-center {width: 100%;height: 100%;}
.tip-main {width: 90%;border-radius: .1rem; background: white;}
.tip-title {height: .8rem;border-bottom: 1px #ddd solid;}
.tip-title a {width: .8rem;height: .8rem;float: right;background-image: url(../images/ico/close.svg);background-size: 30% 30%;display: block;}
.tip-title h2 {line-height: .8rem;float: left;padding: 0 .2rem;color: #09f;font-size: .28rem;}
.tip-contant {padding: .3rem;}
.tip-contant h3 {text-align: center;padding: .1rem 0;}
.tip-contant i {width: 1rem;height: 1rem;margin: .2rem auto;display: block;background-size: contain;}
.tip-contant i.tci-win {background-image: url(../images/ico/win.svg);}
.tip-contant i.tci-error {background-image: url(../images/ico/error.svg);}

/* title */
.title {height: 1.2rem;background-image: url(../images/bg.jpg);background-size: cover;border-bottom: .1rem #eee solid;}
.title h1 {line-height: 1.1rem;text-align: center;color: white;font-size: .32rem;display: block;float:left;}
.title a {width: 1.1rem;height: 1.1rem;display: block;background-size: 30% 30%;}
.title a.ta-black {background-image: url(../images/title/back.svg);}
.title a.ta-cancel {background-image: url(../images/title/cancel.svg);}
.title a.ta-confirm {background-image: url(../images/title/confirm.svg);}
.title a.ta-edit {background-image: url(../images/title/edit.svg);}
.title a.ta-info {background-image: url(../images/title/info.svg);}
.title a.ta-mail {background-image: url(../images/title/mail.svg);}
.title a.ta-menu {background-image: url(../images/title/menu.svg);}
.title a.ta-more {background-image: url(../images/title/more.svg);}
.title a.ta-refresh {background-image: url(../images/title/refresh.svg);}

.title-auto {height: auto;}

/* list */
.list {}
.list li {border-bottom: 1px #ddd solid;height: .8rem;line-height: .8rem;padding: 0 .1rem 0 0;}
.list li span {float: right;color: #aabfcd;}
.list li i {width: .65rem;height: .8rem;display: block;float: left;background-size: 50% 50%;}
.list li i.lli-1 {background-image: url(../images/list/1.svg);}
.list li i.lli-2 {background-image: url(../images/list/2.svg);}
.list li i.lli-3 {background-image: url(../images/list/3.svg);}
.list li i.lli-4 {background-image: url(../images/list/4.svg);}
.list li i.lli-5 {background-image: url(../images/list/5.svg);}
.list li i.lli-6 {background-image: url(../images/list/6.svg);}
.list li i.lli-7 {background-image: url(../images/list/7.svg);}
.list li i.lli-8 {background-image: url(../images/list/8.svg);}
.list li i.lli-9 {background-image: url(../images/list/9.svg);}
.list li i.lli-10 {background-image: url(../images/list/10.svg);}
.list li i.lli-11 {background-image: url(../images/list/11.svg);}
.list li i.lli-12 {background-image: url(../images/list/12.svg);}
.list li i.lli-13 {background-image: url(../images/list/13.svg);}
.list li i.lli-14 {background-image: url(../images/list/14.svg);}
.list li i.lli-15 {background-image: url(../images/list/15.svg);}
.list li i.lli-16 {background-image: url(../images/list/16.svg);}

/* user */
.user {background-image: url(../images/bg.jpg);background-size: cover;border-bottom: .1rem #eee solid;}
.user a {width: 50%;display: block;float: left;text-align: center;color: white;padding: .2rem 0;}
.user i {width: 1rem;height: 1rem;display: block;margin: .2rem auto;background-size: contain;}
.user i.ui-info {background-image: url(../images/ico/info.svg);}
.user i.ui-run {background-image: url(../images/ico/run.svg);}

/* form */
.form {}
.form li {border-bottom: 1px #ddd solid;line-height: .8rem;padding: 0 0 0 1.7rem;position: relative;}
.form span {width: 1.6rem; position: absolute;left: .2rem;top: 0;line-height: .8rem;}
.form em {position: absolute;left: 1.7rem;top: 0;font-style: normal;color: #ccc;z-index: -1;}
.form i {width: .8rem;height: .8rem;position: absolute;right: 0;top: 0;background-image: url(../images/ico/photo.svg);background-size: 45% 45%;z-index: -1;}
.form input,
.form select {/* background: none; */width: 100%; height: .8rem;}
.form select {background: url(../images/ico/drop.svg) top right no-repeat;background-size: .8rem;}
.form input[type="file"] {opacity: 0;}
.form a.code {width: 2rem;height: .6rem;line-height: .6rem; position: absolute;top: 0;right: 0;margin: .1rem;font-size: .24rem;}

/* run */
.run {}
.run-group {border-bottom: 1px #ddd solid;padding: .5rem 0;}
.run-group h5 {text-align: center;}
.run-group h5 span {display: block;font-size: .32rem;color: #09f;padding: .1rem 0;}
.run-group li {width: 50%;float: left;border-right: 1px #ddd solid;text-align: center;}
.run-group li:last-child {border: none;}
.run-group li span {display: block;padding: 0 0 .1rem}
.run-group li a {display: inline-block;background: #09f;padding: 0 .2rem;line-height: .5rem;color: white;border-radius: .05rem;}

/* balance */
.balance {}
.balance-info {text-align: center;color: white;font-size: .32rem;}
.balance-info span {font-size: .6rem;display: block;color: white;padding: 0 0 .2rem;}

/* tab */
.tab {height: .8rem;border-bottom: 1px #ddd solid;overflow: hidden;}
.tab ul {width: 100%;display: block;overflow-x: auto;white-space: nowrap;}
.tab ul li {display: inline-block;margin: 0 .1rem}
.tab ul li a {height: .8rem; line-height: .8rem;box-sizing: border-box;display: block;padding:0 .1rem;}
.tab ul li a.active {color: #09f; border-bottom: .05rem #09f solid;}
.tab-contant {padding: .2rem;}
.tab-table {}
.tab-table table {width: 100%;}
.tab-table table td {height: .6rem; text-align: center;font-size: .22rem;vertical-align: middle;}
.tab-table table thead td {background: #09f; color: white;}
.tab-table table tr:nth-child(2n) {background: #f5f5f5;}
.tab-table table span {color: gainsboro;}
.tab-table table span.orange {color: orange;}
.tab-table table span.blue {color: #09f;}
.tab-table table span.green {color: limegreen;}

/* empty */
.empty {text-align: center;padding: 1rem 0;}
.empty i {width: .8rem;height: .8rem;background-size: contain;display: block;margin:.2rem auto;}
.empty i.ei-win {background-image: url(../images/ico/win.svg);}
.empty i.ei-error {background-image: url(../images/ico/error.svg);}

/* fastener */
.fastener {}
.fastener li {width: 33.33%;float: left;padding: .15rem .2rem;}
.fastener li a {width: 100%;height: .7rem;line-height: .66rem;text-align: center;border: 2px #ddd solid;display: block;border-radius: .05rem;}

/* pop */
.pop {}
.pop a {width: .8rem;height: .8rem;background-size: 45% 45%;position: absolute;left: 0;top: 0;}
.pop a.back {background-image: url(../images/title/back.svg);}

/* login */
.logo {width: 1.7rem;margin: 1.5rem auto .5rem;}
.login {background-image: url(../images/bg.jpg);background-size: cover;}
.login a.btn {background: white;color: #09f;}
.login-form {padding: .5rem .2rem;}
.login-form li {padding: .1rem 0;position: relative;}
.login-form li i {width: .35rem;height: .8rem;position: absolute;left: 0;top: .1rem;background-size:contain;}
.login-form li i.lfl-user {background-image: url(../images/ico/user.svg);}
.login-form li i.lfl-pass {background-image: url(../images/ico/pass.svg);}
.login-form input {width: 100%;height: .8rem;padding: 0 0 0 .6rem;background: none;font-size: .36rem;}
.reg {width: 100%; padding: .2rem;position: absolute;left: 0;bottom: 0;}
.reg a {text-align: center;display: block;}
.reg a span {color: orange;}













