.disabled_false{
    pointer-events:auto !important;
    opacity:1 !important;
    background:linear-gradient(to right, #FF6E04, #F6B132);
    box-shadow: 0 0.15rem 5px #FEDBC0;
}
.disabled_true{
    pointer-events:none !important;
    opacity:0.36 !important;
    background:linear-gradient(to right, #FFBD06, #F6B132)
}
.hide{
    display: none !important;
}
.hide2{
    visibility: hidden !important;
}
.show2{
    visibility: visible !important;
}

.red{
    color: red !important;
}

 
