/* basic */
body {font-family:Microsoft YaHei, '\9ed1\4f53';color: #333;font-size: .24rem;}
h1, h2, h3, h4, h5, h6 {text-transform: none;font-weight: normal;}
.main {width:100%;max-width: 720px;margin: 0 auto !important;}
.block {width: 100%;overflow: hidden;position: relative;}
.contant {width: 100%;overflow: hidden;padding: .2rem;}
.category {height: .8rem; padding: 0 .2rem;line-height: .8rem;color: #09f;border-bottom: 1px #09f solid;}
.category span {float: right;background: #17c481;color: white;height: .4rem;line-height: .4rem;padding: 0 .2rem;margin: .2rem 0;border-radius: .05rem;font-size: .22rem;}
.bguser{background-color: #F6AC30;}
.tr{text-align: right;}
.tl{text-align: left;}
.tc{text-align: center;}
/* btn */
.btn {width: 95%;height: .8rem;line-height: .8rem;display: block;text-align: center; margin: .3rem auto;background: linear-gradient(to right, #FA7624, #F6B132); color: #fff;border-radius: .5rem;font-size: .3rem;}
.btn-empty {background: none;color: #09f;box-shadow: 0 0 0;border: 2px #09f solid;line-height: .76rem;}

/* title */
.title {height: 1.2rem; background-size: cover; padding: .2rem;}
.title h1 {line-height: .8rem;width: 70%; text-align: center;color: #000000;font-size: .4rem;display: block;float:left;}
.title a {width: 1rem;line-height: .8rem;height: 1rem;display: block;background-size: 60%;font-size: .3rem;}
.title a.ta-black {background-image: url(../images/fanhui_03.jpg);}
.title a img{width: .4rem;}
.title-auto {height: auto;}
/*  tip */
.tip {width: 100%;height: 100%;background: rgba(0,0,0,.8);position: fixed;top: 0;left: 0;display: none;}
.tip-center {width: 100%;height: 100%;}
.tip-main {width: 90%;border-radius: .1rem; background: white;}
.tip-main h2{padding-top: .2rem;padding-left: .3rem; font-size: .4rem; text-align: left;}
.tip-main .p1{text-align: left; padding-left: .3rem; }
.tip-main .p2{text-align: right; padding-right: .2rem; margin: .3rem 0;}
.tip-main .p2 a{margin: 0 .2rem; color:#FB883C ;}
/* login */
.logo {width: 1.7rem;margin: 1.5rem auto .5rem;}
.login {}
.login h2{font-size: .5rem; margin:.2rem .4rem;}
.login h2 p{font-size: .2rem;text-align: left; color: #ACACAC; margin-left: .1rem;}
.log{padding: .8rem .4rem;}
.log label{color: #ACACAC;}
.log input{border: none; width: 100%; color: #000; border-bottom: 1px solid #FC6700;font-size: .3rem;padding: .2rem 0;}
.log .btn{width: 100%; margin-top: .8rem;}
.log li {border-bottom: 1px solid #FC6700;}
.log li input{border: none; width: 90%;}
.log li img{width: .3rem;}
.login p{text-align: center;}
.reg {width: 100%; padding: .2rem;position: absolute;left: 0;bottom: 0;}
.reg a {text-align: center;display: block;}
.reg a span {color: orange;}
.orange{color: #FB883C;}
/* bar */

.bar {width: 100%; position: absolute;bottom: 0;}
.bar u {width: 1.2rem;height: 1.4rem;box-shadow: 0 0 .15rem rgba(0,0,0,.5); display: block;border-radius: 100%;margin:auto;margin-top:.2rem;}
.nav {width: 100%; height: 1rem;background: white;position: absolute;left: 0;bottom: 0;box-shadow: 0 0 .15rem rgba(0,0,0,.5);display: flex; z-index: 9;}
.nav li {width: 100%;display: block;text-align: center}
.nav a {width: 1.2rem; height: 1.5rem;display: block;margin: -.3rem auto 0;padding: .45rem 0 0;border-radius: .6rem .6rem 0 0;}
.nav a span {display: block;padding: .05rem 0 0;}
.nav a i {width: .4rem;height: .4rem;display: block;margin: 0 auto;background-size:100%;}
.nav i.bai-1 {background-image: url(../images/10.png);}
.nav i.bai-2 {background-image: url(../images/20.png);}
.nav i.bai-4 {background-image: url(../images/40.png);}
.nav i.bai-5 {background-image: url(../images/50.png);}
.nav a.active {color: #F57629}
.nav a.active i.bai-1 {background-image: url(../images/10r.png);}
.nav a.active i.bai-2 {background-image: url(../images/20r.png);}
.nav a.active i.bai-4 {background-image: url(../images/40r.png);}
.nav a.active i.bai-5 {background-image: url(../images/50r.png);}
.nav li.big {}
.nav li.big a {background: white;border-radius: 100%;padding: .1rem 0 0;margin: -.4rem auto 0;}
.nav li.big a i {width: .8rem;height:.9rem;}
.nav li.big a i.bai-3 {background-image: url(../images/30.png);}
/*
.bar1 {height: 1.2rem;position: fixed;bottom: 0;left: 0;box-shadow: 0 0 .1rem rgba(75,106,127,.5);padding: 0 .2rem;background: white;}
.bar1 a {width: 20%;height: 1rem;padding: .1rem 0; display: block;float: left;text-align: center;font-size: .22rem;color: #a8bdca;}
.bar1 i {width: .8rem;height: .6rem;margin: auto;display: block;background-size: 60% 60%;}
.bar1 i.bai-1 {background-image: url(../images/10.png);}
.bar1 i.bai-2 {background-image: url(../images/20.png);}
.bar1 i.bai-3 {background-image: url(../images/30.png);}
.bar1 i.bai-4 {background-image: url(../images/40.png);}
.bar1 i.bai-5 {background-image: url(../images/50.png);}
.bar1 a.active {color: #F57629}
.bar1 a.active i.bai-1 {background-image: url(../images/10r.png);}
.bar1 a.active i.bai-2 {background-image: url(../images/20r.png);}
.bar1 a.active i.bai-3 {background-image: url(../images/30.png);}
.bar1 a.active i.bai-4 {background-image: url(../images/40r.png);}
.bar1 a.active i.bai-5 {background-image: url(../images/50r.png);}*/
/*trading*/
.trading{border-radius: 10px; background-color: #fff;margin: .3rem 0;}
.trading dt img{width: 100%;}
.trading dd{padding:.2rem;font-size: .3rem; overflow: hidden;}
.trading .xing{font-size:.4rem}
.trading .xing img{width: 40%; margin-left:.5rem; text-align: right;}
.trading dd span{float: left; width: 33.3%; text-align: center;}
.trading dd span img{width: .5rem; margin: 0 .2rem; vertical-align: middle;}
.bghui{background-color: #F9F9F9;}
/*waller*/
.wallet{border-radius: 10px; overflow: hidden; box-shadow: 0 5px 5px 0 #F9C09D; color:#fff; font-size: .3rem; padding: .2rem; text-align:center;}
.wallet p{text-align: center; color: #fff;}
.wallet h2{font-size: .6rem; padding: .3rem 0; border-bottom: 1px solid #fbf2eb;}
.wallet span{color: #fff; float: left; width: 50%; margin: .2rem 0;}
.borr{border-right:1px solid #fbf2eb; ;}
.way{border-radius: 10px;  box-shadow: 0 5px 5px 0 #F1F1F1; margin: .4rem 0; overflow: hidden; background-color: #fff; padding: .2rem;}
.way img{float: left; width: 15%;margin: 0 .2rem;}
.way span{float: left; margin-left: .2rem; width: 50%; color: #DDDDDD; font-size: .2rem;} 
.way span font{color: #000;font-size: .3rem; }
.way a{width: 20%; font-size: .2rem;line-height: .6rem; height: .6rem;}
/*users*/
.bgusers{background:url(../images/userbg.png); text-align: center; width: 100%;background-size: 100%; height: 3.2rem;}
.userbtn{width: 40%; margin: 10% 30%;margin-bottom:.2rem;padding:.1rem 0;font-size:.3rem;float: left; border-radius: 20px; border:1px solid #fff; color: #fff;}
.bgusers p{color: #fff; text-align: center; font-size: .2rem;}
.bgusers dl{float: left;width: 100%; margin: .5rem 0;}
.bgusers dt{width: 15%;border-radius: 50px;}
.bgusers dt img{width: 100%;margin: 0 .3rem;float: left;}
.bgusers dd{color: #fff; font-size: .3rem; margin-left: .3rem; line-height: .5rem; width: 80%; text-align: left;}
.usernav{width: 90%; margin: 0 5%; margin-top: -40px; box-shadow: 0 5px 5px 1px #F4F4F4; margin-bottom: .2rem; border-radius: 10px; overflow: hidden; background-color: #fff;}
.usernav dl{width: 50%; float: left; font-size: .3rem; text-align: center;}
.usernav dt img{width: 20%; margin: .2rem 0; }
.users li{padding: .2rem 0; font-size: .3rem; margin-top: .2rem;}
.users li img{width: .5rem; vertical-align: middle; margin: 0 .2rem;}
/*tradingxq*/
.hui{color: #A4A4A4;}
.xq img{margin: 0;}
.pingjia li{padding: .2rem; overflow: hidden; font-size: .3rem;overflow: hidden;}
.pingjia dt{float: left; width: 16%; padding:0 2%;}
.pingjia dt img{width: 100%;}
.pingjia dd{float: right;width: 80%; text-align: left;}
.pingjia dd img{width: 40%;}
.ddxq li{text-align: right;}
.register .regs{margin: .2rem 0;}
.authen li{padding:0 .2rem;}
/*extension*/
.tuiguang{border-radius: 10px; box-shadow: 0 5px 5px 0 #EDEDED; padding-bottom: .5rem; width:90%; margin: 5%; font-size: .4rem; background-color: #fff;}
.tuiguang p a{width: 50%; margin-bottom:.3rem;border-radius:10px 10px 0 0; background-color:#F0F0F0; float: left; text-align: center; padding: .2rem;}

.erweima p{padding: .3rem 0; text-align: center;}
.yhk{width: 96%;height: 2.7rem; border-radius: 10px;margin:2%; }
.gsyh{background: url(../images/bgyhk_03.png); position: relative; background-size: 100%;}
.gsyh1{background: url(../images/bgyhk_06.png); position: relative; background-size: 100%;}
.gsyh2{background: url(../images/bgyhk_09.png); position: relative; background-size: 100%;}
.gsyh3{background: url(../images/bgyhk_12.png); position: relative; background-size: 100%;}
.yhk p{color: #fff; position:absolute;top:.5rem; left: 1.4rem; font-size: .3rem;}
.yhk li{position:absolute;top:1.6rem; left: .5rem; color: #fff; font-size: .4rem;}
