/* 
ume 2.0 (build 20180313)
Github: https://github.com/mixice/ume
Gitee: https://gitee.com/mixice/ume
Project: http://www.ume.ee
Author: http://www.mixice.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
big, small, strong, sub, sup, var,
b, i, a, s, u, cite,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent center no-repeat;box-sizing: border-box;}
html, body {height: 100%;}
html {-webkit-font-smoothing: antialiased;}
body, button, input, select, textarea {font:14px/1.5 '\5b8b\4f53', Arial;color:#333;background: #fff;border: none;box-sizing: border-box;}
a, button, input, select, span, img, i, cite, tt, em, button, li {transition:all .4s;color:#333;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
audio, canvas, progress, video{display: inline-block;vertical-align: baseline;}
audio:not([controls]) {display: none;height: 0;}
h1, h2, h3, h4, h5, h6 {font-weight:bold;text-transform: capitalize;}
img {border:0;vertical-align: middle;-ms-interpolation-mode: bicubic;}
a, a:hover {text-decoration:none;outline: 0;}
b, strong {font-weight: bold;}
p {margin: 0;line-height: 200%;color: #333;text-align: justify;}
ul, li {margin:0; padding:0; list-style:none;}
button, input, optgroup, select, textarea {margin: 0;padding: 0; font: inherit;color: inherit;outline:none;}
a, button {cursor: pointer;}
a {-webkit-tap-highlight-color:rgba(0,0,0,0);}
::-webkit-input-placeholder{color:#ccc;}
::-moz-placeholder{color:#ccc;}
:-moz-placeholder{color:#ccc;}
::-ms-input-placeholder{color:#ccc;}
input:-moz-placeholder {color:#ccc;}
textarea:-moz-placeholder {color:#ccc;}
input[type="button"],
input[type="submit"],
input[type="reset"],
select,
textarea { -webkit-appearance: none;}
::selection{background:#333;color:#999;text-shadow:none;}
.yh {font-family:Microsoft YaHei, '\9ed1\4f53';}
.jh {font-family:Microsoft JhengHei, '\9ed1\4f53';}
.sim {font-family:NSimSun, '\65B0\5B8B\4F53';}

.hide {display:none !important;}
.show {display:block !important;}
.clear {clear:both;}
.fl {float: left !important;}
.fr {float: right !important;}
.tr{text-align: right;}
.tl{text-align: left;}
.full {width: 100% !important;height: 100% !important;}
.center {display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
	-webkit-box-pack: center;-ms-flex-pack: center;
	-webkit-justify-content: center;justify-content: center;
	-webkit-box-align: center;-ms-flex-align: center;
	-webkit-align-items: center;align-items: center;}
.position {overflow: hidden;position: absolute;top: 0; left: 0;right: 0;margin: auto;}
.mono {-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;}
.mono:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
  filter:none;}